# OMD reģistra imitācijas iestatījumi. Īstus marķierus (tokens) šeit neraksta.
OMD_BASE_URL=http://localhost:8001
OMD_API_TOKEN=<ieraksti-šeit>
# CR-1: sintētiskie testa personas kodi (tikai izstrādei, ražošanā neieslēdz)
ALLOW_TEST_PERSONAL_CODES=false
